<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-950DDS26PX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-950DDS26PX');
</script>

{% extends "layout.html" %}

{% block title %}経歴{% endblock %}

{% block content %}
    <!-- 言語切り替え -->
    <div class="lang-toggle">
        <a href="{{ url_for('index', lang='ja') }}">🇯🇵 日本語</a> | 
        <a href="{{ url_for('index', lang='en') }}">🇬🇧 English</a>
    </div>
    
    <h1>経歴</h1>
    <p>ここに学歴・職歴を記載します。</p>
    <p1>2013年-2016年 熊本県立 熊本高等学校</p1><br>
    <p1>2017年-2021年 東北大学 工学部 材料科学総合学科</p1><br>
    <p1>2021年-2023年 東北大学 工学研究科 材料システム工学専攻 博士前期課程</p1><br>
    <p1>2023年-2025年 地方独立行政法人 東京都立産業技術センター 研究員</p1><br>
    <p1>2023年-2025年 東北大学 工学研究科 材料システム工学専攻 博士後期課程</p1><br>
    <p1>2023年-2025年 日本学術振興会特別研究員 DC1</p1><br>
    {% endblock %}
