{% extends "layout.html" %}

{% block content %}
    <!-- 言語切り替え -->
    <div class="lang-toggle">
        <a href="{{ url_for('projects', lang='ja') }}">🇯🇵 日本語</a> |
        <a href="{{ url_for('projects', lang='en') }}">🇬🇧 English</a>
    </div>

    {% include "sidebar.html" %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <a href="{{ url_for('research', lang=lang) }}" class="cta-button">
        {% if lang == 'ja' %}研究内容を見る{% else %}Explore Research Projects{% endif %}
    </a>

{% endblock %}
